* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
}
header {
    background: url(images/img.png);
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}
nav {
    width: 100%;
    height: 100%;
    background: none;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.new {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 310px;
    list-style: none;
}
.main a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 28px;
    display: flex;
}
.register {
    text-decoration: none;
    background-color: rgb(49, 97, 241);
    padding: 7px 10px;
    border-radius: 7px;
    text-align: center;
    margin: auto;
    justify-content: center;
    height: 50px;
    width: 120px;
    margin-right: 10px;
    margin-top: 5px;
}
.register a {
    color: white;
    font-size: 15px;
}
.register a:hover {
    color: yellow;
    background-color: rgb(150, 177, 190);
}
#about:target,
#explore:target,
#contact:target,
#form:target {
    display: block;
}
#about,
#explore,
#contact,
#form {
    display: none;
}
#home:target {
    display: block;
}
:target {
    display: block;
}
#home {
    margin: auto;
    text-align: center;
    height: 100px;
    padding: 60px 30px;
    margin-top: 190px;
    margin-left: 100px;
}
#home h1 {
    font-size: 34px;
    font-weight: 410;
    color: rgb(56, 49, 49);
    background-color: none;
}
#home h2 {
    font-size: 22px;
    font-weight: 300;
    color: rgb(56, 49, 49);
    background-color: none;
}

#home input {
    height: 50px;
    width: 350px;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 400;
    color: black;
    cursor: pointer;
}
#home button {
    height: 50px;
    width: 120px;
    background-color: rgb(49, 97, 241);
}
#home button a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 15px;
}
#home button a:hover {
    color: yellow;
    background-color: rgb(150, 177, 190);
}
